<!--
    /client/partials/items-index.html
    View / Template for showing all items
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Visitor</title>
        <link rel="stylesheet" href="/public/css/visitor-styles.css" />
        <style>
            .fontHero{background-image: url(https://a-v2.sndcdn.com/assets/images/header/cloud-e365a4.png);}
        </style>
        <!-- <script src="https://a-v2.sndcdn.com/assets/vendor-22014-b71feaf.js"></script>
        <script src="https://a-v2.sndcdn.com/assets/views-al-f6825-b3182a1.js"></script>
        <script src="https://a-v2.sndcdn.com/assets/views-93813-2388a31.js"></script> -->
    </head>
    <body>

    </body>
</html>
<div class="frontHero"><h1 class="frontHero__logo">SoundCloud ::after ==$0 </h1><br /><br /><br />
    <div class="frontHero__signin">
      <button class="g-opacity-transition frontHero__loginButton g-button-transparent-inverted sc-button sc-button-medium loginButton" tabindex="0" title="Sign in">Sign in</button>
      <button class="g-opacity-transition frontHero__createAccountButton sc-button sc-button-medium signupButton sc-button-cta" tabindex="0" title="Create a SoundCloud account">Create account</button>
    </div>

<div class="frontHero__content">
  <h1 class="frontHero__title">Discover more with SoundCloud Go+</h1>
  <p class="frontHero__tagline sc-type-large">
    SoundCloud Go+ lets you listen offline, ad-free, with over 150 million tracks — and growing.
  </p>
  <div class="frontHero__cta">
    <a class="consumerSubscriptionsButton frontHero__learnButton g-button-transparent-inverted sc-button sc-button-large sc-button-responsive" tabindex="0" href="/go" title="">Learn more</a>
      <button class="consumerSubscriptionsCheckoutButton frontHero__ctaButton sc-button-cta sc-button sc-button-large sc-button-responsive" tabindex="0" title="">Try it free for 30 days</button>
  </div>
</div>


</div>


<br><br><br>

<input type="text" ng-model="username">
<input type="submit" value="sign in" ng-click=login()>
