<!--
    /client/partials/new-item.html
    View / Template for the form to create a new item
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>home</title>
        <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css" />
        <link rel="stylesheet" href="/public/css/home-styles.css" />

        <style>
            .container-fluid {background: rgb(28, 32, 32);}
            form {display: inline;}
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div role="banner" class="header sc-selection-disabled show fixed g-dark g-z-index-header">
                  <div class="header__inner l-container l-fullwidth">
                    <div class="header__left left">
                      <div class="header__logo left">
                        <a href="/" title="Home" class="header__logoLink sc-border-box sc-ir"></a>
                      </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Project name</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Collections</a></li>
                    </ul>
                    <form class="navbar-form navbar">
                        <input type="text" class="form-control" placeholder="Search...">
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Upgrade</a></li>
                        <li><a href="#">Upload</a></li>
                    </ul>
                </div>
            </div>

    </nav>
    </body>
    <!-- <body class="page-header">
        <div role="banner" class="header sc-selection-disabled show fixed g-dark g-z-index-header">
          <div class="header__inner l-container l-fullwidth">
            <div class="header__left left">
              <div class="header__logo left">
                <a href="/" title="Home" class="header__logoLink sc-border-box sc-ir"></a>
              </div>

            <nav class ="left header__navWrapper" role="navigation">
                <ul class="header__navMenu">
                    <li><a class="header__mainMenu-loggedInHome header__mainMenu-stream selected" href="#">Home</a></li>
                    <li><a class="header__mainMenu-collection" href="#">Collection</a></li>
                </ul>
            </nav>
            </div>
          </div>
        </div>
    </body> -->
</html>
