<!--
    /client/partials/new-item.html
    View / Template for the form to create a new item
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>home</title>
        <link rel="stylesheet" href="/public/css/home-styles.css" />
	    <!-- <link rel="stylesheet" href="/public/css/style.css" /> -->
        <!-- <link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.min.css" /> -->
        <style>
            .navbar navbar-inverse {background: rgb(28, 32, 32);}
        </style>
    </head>
    <body class="page-header">

    </body>
</html>

<h1>welcome {{username}}</h1>
 <div role="banner" class="header sc-selection-disabled show fixed g-dark g-z-index-header">
   <div class="header__inner l-container l-fullwidth">
     <div class="header__left left">
       <div class="header__logo left">
         <a href="/" title="Home" class="header__logoLink sc-border-box sc-ir"></a>
       </div>
     </div>
     <!-- <div id="header__loading" class="sc-hidden">
       <img id="loading__img" class="hide" src="https://a-v2.sndcdn.com/assets/images/loader-dark-45940ae3.gif" width="16" height="16">
     </div> -->
   </div>
 </div>
